@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');


body {
    display: flex;
    justify-content: center;
    background-color: black;
}

h1 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 5px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 0px;
}

.bold {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.regular {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.bgCol {
    background-color: #242424;
}
.white {
    color: white;
}

.themeCol {
    color: #fe7333;
}

.icon {
    width: 40px;
    height: auto;
    filter: invert(77%) sepia(59%) saturate(5895%) hue-rotate(337deg) brightness(99%) contrast(103%);
}

.alignLeft {
    align-self: flex-start;
    margin: 20px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.txtMarg {
    margin: 25px 0px;
}

.frame {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 380px;   
    height: 90vh;
    border: 4px solid #fe7333;
    border-radius: 5%;
    margin-top: 3vh;
}

#genFrame {
    justify-content: center;
}

#welcomeFrame {
    justify-content: flex-start;
}

#txtBlock {
    justify-content: space-around;
    width: 90%;
    text-align: center;
}


#iconRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
} 

#mobIcon {
    display: none;
}

#mobFriendly {
    display: none;
}

#centCont {
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outputRowContent {
    max-width: fit-content;
    background-color: #222222;
    border: 2px solid #2c2c2c;
}

#keyEvent {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    width: 320px;
    height: 50px;
}

#keyEvent:focus-visible {
    outline: transparent;
}

#keyCode {
background-color: transparent;
}

#btnRowContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    margin-top: auto;
    margin-bottom: 30px;
}

#btn {
    font-size: 20px;
    width: 100px;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #fe7333;
    margin-bottom: 1px;
    padding:  5px 20px 5px 20px;
}

/* <<<<< MEDIA QUERIES >>>>> */

@media (max-width: 720px) {

#mobIcon {
    display: flex;
}
    
#mobFriendly {
    display: flex;
}

#genFrame {
    height: 85vh;
}

#welcomeFrame {
    height: 85vh;
}

#btn {
    font-size: 10px;
        width: 50px;
        border-bottom: 0px;
}

.bold {
font-weight: 400;
font-size: 20px;
}

.txtMarg {
margin: 5px 0px;
}

.icon {
width: 30px;
}
}

@media (max-height: 500px) {

#iconRow {
    margin-top: 40px;
}

#btnRowContent { 
    margin-bottom: 80px;
}

#keyEvent {
    height: 30px;
}
}

@media (max-height: 380px) {
    
    #title {
        display: none;
    }

    #desc {
        display: none;
    }

    #btnRowContent { 
        margin-bottom: 50px;
    }

    #btn {
        font-size: 10px;
            width: 50px;
            border-bottom: 0px;
    }

.bold {
    font-weight: 400;
    font-size: 20px;
}

.txtMarg {
    margin: 5px 0px;
}

.icon {
    width: 30px;
}
}

@media (max-height: 300px) {
#genFrame {
    display: none;
    }
#welcomeFrame {
    display: none;
}
}


