@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');


body {
    display: flex;
    justify-content: center;
    background-color: black;
}

h1 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 5px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px;
    padding: 0px;
}

.bold {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.regular {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.bgCol {
    background-color: #242424;
}
.white {
    color: white;
}

.themeCol {
    color: #fe7333;
}

.icon {
    width: 40px;
    height: auto;
    filter: invert(77%) sepia(59%) saturate(5895%) hue-rotate(337deg) brightness(99%) contrast(103%);
}

.alignLeft {
    align-self: flex-start;
    margin: 20px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.txtMarg {
    margin: 25px 0px;
}

#genFrame {
    /* background-color: crimson; */
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;   
    height: 90vh;
    border: 4px solid #fe7333;
    border-radius: 10%;
    margin-top: 3vh;

}

#welcomeFrame {
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 380px;   
    height: 90vh;
    border: 4px solid #fe7333;
    border-radius: 10%;
    margin-top: 3vh;
}

/* #welcomeInfo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 270px;
    height: 90px;
    text-align: center;
    margin: 0px;
    margin-top: 5px;
    display: none;
} */

#txtBlock {
    justify-content: space-around;
    width: 90%;
    text-align: center;
}


#iconRow {
    /* background-color: cornflowerblue; */
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    width: 100%;
} 

#mobIcon {
    display: none;
}

#mobFriendly {
    display: none;
}

#centCont {
    /* background-color: forestgreen; */
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#outputRowContent {
    /* background-color: darkslategray; */
    max-width: fit-content;
    background-color: #222222;
    border: 2px solid #2c2c2c;
}

#keyEvent {
    /* background-color: dodgerblue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    width: 320px;
    height: 50px;
}

#keyEvent:focus-visible {
    outline: transparent;
  }

#keyCode {
background-color: transparent;
/* border: 1px solid black; */
}

#btnRowContent {
    /* background-color: darkred; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex: 1 1 auto; */
    /* flex-basis: auto; */
    height: 50px;
    width: 100%;
    margin-top: auto;
    margin-bottom: 30px;
}

#btn {
      
    font-size: 20px;
    width: 100px;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #fe7333;
    margin-bottom: 1px;
    padding:  5px 20px 5px 20px;
}

@media (max-width: 720px) {


#mobIcon {
    display: flex;
}
    
#mobFriendly {
    display: flex;
}

#genFrame {
    height: 85vh;
    border-radius: 5%;

}

#welcomeFrame {
    height: 85vh;
    border-radius: 5%;

}

}



